<app-navbar></app-navbar>
<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
  <div class="title">
    <h4>Listado de Pedidos</h4>
    <button type="button" class="btn btn-dark" [routerLink]="['/listpedidos/add']">Agregar Pedido</button>
  </div>

  <table *ngIf="listPedido.length > 0" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">idPedido</th>
        <th scope="col">idCliente</th>
        <th scope="col">modalidad</th>
        <th scope="col">montoTotal</th>
        <th scope="col">estado</th>
        <th scope="col">Hamburguesas</th> 
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listPedido" class="table-dark">
        <td>{{ item.idPedido }}</td>
        <td>{{ item.idCliente }}</td>
        <td>{{ item.modalidad }}</td>
        <td>{{ item.montoTotal }}</td>
        <td>{{ item.estado }}</td>
        <td>
          <ul>
            <li *ngFor="let hamburguesa of item.hamburguesas">
              ID:{{ hamburguesa.idHamburguesa }} NOMBRE: {{ hamburguesa.nombre }} | CANTIDAD: {{ hamburguesa.cantidad }}
            </li>
          </ul>
        </td>
        <td>
          <div class="button-container">
            <button [routerLink]="['/listpedidos/edit/', item.idPedido]" type="button" class="btn btn-info btn-sm">EDITAR</button>
            <button (click)="deletePedido(item.idPedido!)" type="button" class="btn btn-danger btn-sm">ELIMINAR</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 *ngIf="listPedido.length == 0">No hay Pedidos disponibles en este momento</h5>
</div>
