<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INGRESO</title>
    <link rel="stylesheet" href="login-p.component.css">
</head>
<body>
    <div class="background-container">
        <div class="login-container">
            <h2>Login</h2>
            <form [formGroup]="myForm" (ngSubmit)="submitFormulario()">
                <label for="username">Usuario</label>
                <input formControlName="usuario" type="text" id="username" name="username" required>
                <div *ngIf="f.usuario.touched && f.usuario.invalid" class="error-message">
                    Usuario es requerido
                </div>
                
                <label for="password">Contraseña</label>
                <input formControlName="password" type="password" id="password" name="password" required>
                <div *ngIf="f.password.touched && f.password.invalid" class="error-message">
                    Contraseña es requerida
                </div>
                
                <button type="submit">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</body>
</html>
