<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="login-p.component.css" />
</head>
<body>
  <div class="background-container">
    <div class="login-container">
        <h2>Admin Login</h2>
      
        <button (click)="enviarCodigo()" class="send-code-button">Enviar Código</button>
      
        <form [formGroup]="myForm" (ngSubmit)="submitFormulario()">
          <label for="codigo">Introduce el código:</label>
          <input
            formControlName="codigo"
            type="text"
            id="codigo"
            placeholder="Código de acceso"
            required
          />
          <div *ngIf="f.codigo.touched && f.codigo.invalid" class="error-message">
            El código es requerido.
          </div>
          <button type="submit">Validar Código</button>
        </form>
        
        <!-- Botón para volver al menú -->
        <a routerLink="/menu">
          <button class="back-button">Volver</button>
        </a>
      </div>
  </div>
</body>
</html>
