<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand btn-menu" href="#">
            <img src="assets/images/imagenMenu.png" alt="Menu Principal" style="height: 80px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <a class="navbar-brand btn-menu" routerLink="/listhamburguesas">HAMBURGUESAS</a>
            <a class="navbar-brand btn-menu" routerLink="/listingredients">INGREDIENTES</a>
            <a class="navbar-brand btn-menu" routerLink="/listclientes">CLIENTES</a>
            <a class="navbar-brand btn-menu" routerLink="/listpedidos">PEDIDOS</a>
           
        </div>
    </div>
</nav>
