<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand btn-menu" href="#">
            <img src="assets/images/imagenMenu.png" alt="Menu Principal" style="height: 80px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarColor01">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand btn-menu" routerLink="/listpedidos/add">REALIZAR PEDIDO</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand btn-menu" routerLink="/nosotros">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand btn-menu" routerLink="/contacto">CONTACTO</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
