<app-navbar-cliente></app-navbar-cliente>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="nosotros.component.css">
</head>
<body>
    <section class="sobre-nosotros">
        <h2>Sobre Nosotros</h2>
        <p>
            Hola! Somos <strong>Augusto Palmieri</strong> e <strong>Iñaki Diaz</strong>, amigos y amantes de las hamburguesas, que decidimos emprender juntos para compartir nuestra pasión. En el año 2024, inauguramos <strong>LA CARITA SABROSA</strong> con el sueño de crear un lugar donde cada hamburguesa sea una experiencia única y memorable.
        </p>
        
        <h3>Nuestra Misión</h3>
        <p>
            En <strong>LA CARITA SABROSA</strong>, nos apasiona ofrecerte una experiencia de hamburguesas como ninguna otra. Fundamos esta hamburguesería con el propósito de combinar ingredientes frescos y recetas únicas para poder disfrutar de tus hamburguesas favoritas de manera rápida y sencilla.
        </p>
        
        <h3>Nuestro Sistema de Pedidos</h3>
        <p>
            Hemos desarrollado una app intuitiva y fácil de usar para que puedas hacer tus pedidos desde cualquier lugar. Desde elegir tu hamburguesa hasta personalizarla con tus ingredientes favoritos, nos aseguramos de que tengas control total sobre tu orden.
        </p>
        
        <h3>Compromiso con la Calidad</h3>
        <p>
            Cada hamburguesa que servimos está hecha con ingredientes frescos y de alta calidad. Seleccionamos cuidadosamente nuestros proveedores y preparamos todo al momento, para que obtengas el mejor sabor en cada pedido.
        </p>
        
    </section>
</body>
</html>
