
<app-navbar></app-navbar>
<div class="hamburguesa-list">
  <div *ngFor="let hamburguesa of hamburguesas" class="hamburguesa-item">
    <span class="hamburguesa-nombre">{{ hamburguesa.nombre }}, {{ hamburguesa.descripcion }}</span>
    <input type="number" class="hamburguesa-cantidad" [(ngModel)]="hamburguesa.cantidad" (ngModelChange)="onQuantityChange(hamburguesa, $event)" min="0">
  </div>
</div>

<button class="butonpedido" (click)="submitOrder()" [disabled]="!isOrderValid()">Realizar Pedido</button>
<button class="back-button" [routerLink]="['/listpedidos']">Volver</button>

