
.scroll {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    background-image: url('src/assets/images/fondoazul.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #001F3F;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00BFFF;
    border-radius: 4px;
  }
  .container {
    width: 100%;
    margin: 2em auto;
    padding: 2em;

    border-radius: 1em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    max-height: 700px;
    
  }

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px; 
}


.welcome-message {
    text-align: center;
    margin-bottom: 30px;
    width: 100%; 
}

.welcome-message h1 {
    color: #fff;
    font-weight: 600; 
    letter-spacing: -1px; 
    line-height: 1.2; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    margin: 0; 
    padding: 0 20px;
    font-size: 10vw; 
}

.admin-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.admin-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem; 
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #2b4868;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500; 
    letter-spacing: 0.5px; 
}

.admin-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.image-container {
    text-align: center;
    margin-top: 30px;
}

.admin-image {
    width: 100%;
    max-width: 300px;
    height: auto;
}


@media (min-width: 768px) {
    .welcome-container {
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-start; 
        padding: 0 50px;
        margin-top: 20px; 
    }

    .welcome-message {
        text-align: left; 
        margin-bottom: 0;
        flex: 1;
    }

    .welcome-message h1 {
        font-size: 5.5rem;
    }

    .image-container {
        flex: 1;
        text-align: right; 
        margin-top: 0;
    }

    .admin-image {
        max-width: 500px; 
        width: 100%; 
    }

    .admin-links {
        display: none;
    }
}


@media (max-width: 767px) {
    .welcome-container {
        flex-direction: column;
        align-items: center;
    }

    .welcome-message {
        text-align: center;
        margin-bottom: 20px;
    }

    .welcome-message h1 {
        font-size: 10vw; 
    }

    .image-container {
        display: none;
    }

    .admin-links {
        display: flex; 
        flex-direction: column;
        gap: 15px;
        width: 100%;
        max-width: 400px;
        margin-top: 20px;
    }
}
